<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4"></th>
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>

                  @for (item of cartItems$ |async; track item.id) {
                  <tr>
                    <td>
                      <img src={{item.image}} class="d-block ui-bordered mr-4 imageSize p-3" alt="">
                    </td>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <!-- <img src={{item.image}} class="d-block ui-bordered mr-4 imageSize" alt=""> -->
                        <div class="media-body">
                          <h5 href="#" class="d-block text-dark">{{item?.title}}</h5>
                          <small>
                            <span class="text-muted">{{item.description | truncateWords: 50 }}</span>

                            <!-- <span class="text-muted">Size: </span> EU 37 &nbsp; -->
                    
                          </small>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle p-4 quantity-container">
                      <button class="btn btn-icon quantity-btn" (click)="decreaseQuantity(item.id)">
                        <i class="bi bi-dash-circle"></i>
                      </button>
                      <span class="form-control text-center">{{item.quantity}}</span>
                      <button class="btn btn-icon quantity-btn" (click)="increaseQuantity(item.id)">
                        <i class="bi bi-plus-circle"></i>
                      </button>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{item.price*item.quantity| currency:'INR':'symbol':'1.2-2'}}</td>
              
                    <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" (click)="removeItem(item.id); $event.preventDefault()"><i class="bi bi-archive-fill"></i></a></td>
                  </tr>     
                }
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="d-flex">
        
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large"><strong>$1164.65</strong></div>
                </div>
              </div>
            </div>
        
            <div class="float-right">
              <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
              <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div>
        
          </div>
      </div>
  </div>
  