<div class="container">
    <div class="about-section text-center">
      <h2 class="about-heading">About Us</h2>
      <p class="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium consequat odio, id tincidunt risus congue eget. Phasellus tristique nisi et felis pulvinar, nec dignissim metus mattis. Morbi nec quam euismod, eleifend dolor vitae, convallis mi. Suspendisse potenti. Integer convallis odio et efficitur malesuada. In hac habitasse platea dictumst. Nullam id commodo velit. Curabitur volutpat libero non justo interdum vestibulum.</p>
      <p class="about-content">Nunc congue nisi nec est dictum, in tincidunt felis interdum. Ut maximus, libero sit amet laoreet facilisis, dui felis tempor risus, nec dapibus sapien dolor eget neque. Donec ornare, ligula vel faucibus luctus, nulla urna semper purus, non dictum justo tellus at ipsum. Phasellus ac efficitur lorem. Integer quis aliquet urna.</p>
    </div>
  </div>